<template>
  <div>
    <button @click="getSubj">Получить предметы</button>
    <button @click="getAddedOptions">Получить доп. свойства</button>
    <button @click="randomErr">Вывести ошибку</button>
    <button @click="changeRandom">Обновить случайные данные</button>
    <br>
    <p>Случайный объект: {{ randomSubject }}, </p>
    <p>Случайное доп. свойство: {{ randomAO }}</p>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import { handlers } from '@/utils/handlers';
import { randomNumber } from '@/utils/randomNumber';
import _ from 'lodash';

export default {
  name: 'demo-page',
  data() {
    return {
      subjId: 1,
      aoId: 1,
    };
  },
  methods: {
    ...mapActions('demoState', {
      getSubjects: 'getSubjects',
      getAddedOptions: 'getAddedOptions',
    }),
    getSubj() {
      this.getSubjects();
    },
    changeRandom() {
      if (!_.isEmpty(this.subjectsMap)) {
        this.subjId = randomNumber.getRandomInt(0, this.subjectsMap.length);
      } else {
        handlers.defaultErrorHandler('Список предметов не загружен');
      }
      if (!_.isEmpty(this.aosMap)) {
        this.aoId = randomNumber.getRandomInt(0, this.aosMap.length);
      } else {
        handlers.defaultErrorHandler('Список доп. свойств не загружен');
      }
    },
    randomErr() {
      handlers.defaultErrorHandler('Непонятная ошибка');
    },
  },
  computed: {
    ...mapGetters('demoState', {
      subjectsMap: 'SubjectsMap',
      subjects: 'Subjects',
      aosMap: 'AOSMap',
      aos: 'AOS',
    }),
    randomSubject() {
      if (_.isEmpty(this.subjectsMap)) {
        return 'Пока не загружено';
      }
      return this.subjects.get(this.subjectsMap[this.subjId]);
    },
    randomAO() {
      if (_.isEmpty(this.aosMap)) {
        return 'Пока не загружено';
      }
      return this.aos.get(this.aosMap[this.aoId]);
    },
  },
};
</script>

<style scoped>

</style>
