<template>
  <div class="home">
    <img alt="Vue logo" src="../../assets/logo.png">
    <HelloWorld msg="Welcome to Your Vue.js + TypeScript App"/>
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'; // @ is an alias to /src

export default {
  components: {
    HelloWorld,
  },
};
</script>
