<template>
  <div id="app">
    <div>
      <router-link v-for="(page, id) in pages"
                   :key="id"
                   id="nav"
                   :to="page.href">
        {{ page.title }}
      </router-link>
    </div>
    <router-view/>
    <notifications
      group="handler"
      position="bottom center"
      ></notifications>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'App',
  computed: {
    ...mapGetters('appState', {
      pages: 'Pages',
    }),
  },
};
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
